<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.westas.orderassembly">

    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".calculator.CalculationActivity">
            <intent-filter>
                <action android:name="android.intent.action.CalculationActivity"  android:screenOrientation="portrait"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectOperationActivity" android:screenOrientation="portrait" />
        <activity android:name=".setting.SettingActivity_"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SettingActivity_" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".invoice_items.ItemsInvoiceActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".invoice.ListTransferInvoiceActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".subdivision.ListSubdivisionActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ListSubdivisionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>